@model IEnumerable<IEXTrading.Models.ViewModel.QuotesEquities>

@{
    ViewData["Title"] = "Index";
}

<div class="container table-responsive">
    <h1>Top 5 Technology Stocks to Buy/Sell this week</h1>
    <br />
    <div id="stocktable" class="table-editable">
        <table class="table">
            <thead style="background: #337ab7;color: white;">
                <tr>
                    <th>Company Name</th>
                    <th>Ticker</th>
                    <th>Current Price</th>
                    <th>Market Cap (Bn)</th>
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Prev Close</th>
                    <th>Date</th>
                    <th>Charts</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                string mkCapBn = (item.Quote.marketCap / 1000000000.0).ToString("#.##");
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quote.companyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quote.symbol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quote.latestPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => mkCapBn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quote.open)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quote.high)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quote.low)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quote.previousClose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quote.latestTime)
                    </td>
                    <td><button type="button" class="btn btn-primary btn-xs" onclick="getChart('@item.Dates', '@item.Prices', '@item.Volumes', @item.AvgPrice, @item.AvgVolume)">Get Chart</button></td>
                </tr>
            }
        </table>
    </div>
    <div style="text-align:center;">
        <button id="export-btn" class="btn btn-primary" style="text-align:center;" onclick="location.href='@Url.Action("SaveTopStocks", "TopStocks")'">Save Stocks</button>
    </div>
</div>
<br />
<br />
<div style="text-align: center">
    <canvas id="myChart" height="500" width="1000"></canvas>
</div>
<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>